.navbar-text {
float: right;
	text-align: center;
	 color: white;
}

.jumbotron {
padding-top: 10%;
	text-align: center;


}
.card-text {
	text-align: center;
}

#score {
	float:right;
}
 
#logo {
	margin-right: 45rem;
	
}

#score {
margin-right: 5rem;
}

p {
	font-size: 24px;
}